html{
    background-color: black;
}
.life{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
img{
    border:5px solid white;
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}